<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="XdllPath" value="C:\SoftOne\Soft1\xdll.dll ή κενό"/>
    <add key="XcoPath" value="C:\SoftOne\Soft1\test.xco ή κενό"/>
    <add key="Company" value="1001"/>
    <add key="Branch" value="1000"/>
    <add key="S1Username" value =""/>
    <add key="S1Password" value=""/>
    <add key="LogPath" value="Path ή κενό για default"/>
    <add key="TempDir" value="Path ή κενό για default"/>
    <add key="SqlFilter" value="and TRDEXTRA.BOOL02 = 1 and TRDFINDATA.LBAL > 0"/>
    <add key="ObjectForm" value="1000"/>
    <add key="MailBatchSize" value="50"/>
    <add key="MailBatchDelay" value="300000"/>
    <add key="MailServer" value="somemailserver.gr"/>
    <add key="MailUsername" value="someone@somedomain.gr"/>
    <add key="MailPassword" value="ClearTextPass"/>
    <add key="MailAddress" value="someone@somedomain.gr"/>
    <add key="MailName" value="Someone"/>
    <add key="MailPort" value="465"/>
    <add key="MailSSL" value="true"/>
    <add key="MailSubject" value="Αποστολή καρτέλας"/>
    <add key="MailHtmlBody" value="Αγαπητέ πελάτη,&lt;br&gt;&lt;br&gt;Σας αποστέλουμε την καρτέλα σας.&lt;br&gt;&lt;br&gt;Με εκτίμηση,&lt;br&gt;&lt;br&gt;Η εταιρία"/>
  </appSettings>
</configuration>