<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    
    <!-- Path για on premise ή κενό για azure -->
    <add key="XdllPath" value=""/>
    
    <!-- Path για on premise ή κενό για azure -->
    <add key="XcoPath" value=""/>
    
    <add key="Company" value="1001"/>
    
    <add key="Branch" value="1000"/>
    
    <add key="S1Username" value =""/>
    
    <add key="S1Password" value=""/>
    
    <!-- Path ή κενό για default -->
    <add key="LogPath" value=""/>
    
    <!-- Φίλτρο επιλογής πελατών -->
    <add key="SqlFilter" value="and TRDEXTRA.BOOL02 = 1 and TRDFINDATA.LBAL > 0"/>
    
    <!-- Ημέρα;Κωδικός Φόρμας;Όνομα Αρχείου -->
    <!-- 0 -> Εκτυπώνεται πάντα, 31 -> Εκτυπώνεται την τελευταία μέρα του μήνα, 1 έως 30 -> Εκτυπώνεται την συγκεκριμένη μέρα του μήνα -->
    <add key="ObjectForms" value="31;1000;Καρτέλα Πελάτη|0;1001;Ανεξόφλητα Υπόλοιπα|0;1002;Ανοιχτά Υπόλοιπα"/>
    
    <!-- Ημέρα;Όνομα Object;Όνομα Λίστας;Όνομα Template;Όνομα Αρχείου -->
    <!-- 0 -> Εκτυπώνεται πάντα, 31 -> Εκτυπώνεται την τελευταία μέρα του μήνα, 1 έως 30 -> Εκτυπώνεται την συγκεκριμένη μέρα του μήνα -->
    <add key="Reports" value="15;CUST_STM;List;Template;Καρτέλα"/>

    <!-- Πόσα email θα σταλούν πριν γίνει εισαγωγή καθυστέρησης -->
    <add key="MailBatchSize" value="50"/>

    <!-- Χρονική καθυστέρηση σε ms -->
    <add key="MailBatchDelay" value="300000"/>
    
    <!-- Κωδικός λογαριασμού email στο SoftOne -->
    <add key="MailAccount" value="1"/>
    
    <add key="MailName" value="Someone"/>
    
    <add key="MailSubject" value="Αποστολή καρτέλας"/>
    
    <add key="MailHtmlBody" value="Αγαπητέ πελάτη,&lt;br&gt;&lt;br&gt;Σας αποστέλουμε την καρτέλα σας.&lt;br&gt;&lt;br&gt;Με εκτίμηση,&lt;br&gt;&lt;br&gt;Η εταιρία"/>
  </appSettings>
</configuration>